<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardMapper">

	<!--<sql>태그를 이용해서 SQl의 일부를 별도로 보관하고, 필요한 경우에 incliude시키는 형태로 사용-->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr"><!--<foreach>를 이용해서 검색 조건들을 처리하는데 typeArr이라는 속성을 이용-->
				<trim prefix="OR">
					<choose>		  <!--<choose> 안쪽의 동작은 "OR title.."OR"writer…"와 같은 구문을 만들어냄
									바깥쪽에서는 <trim>을 이용해서 맨 앞에서 생성 되는 ‘OR’을 없애 줌-->
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getList" resultType="com.spring.domain.BoardVO">
		select * from tam_board order by bno desc
	</select>

	<insert id="insert">
		insert into tam_board (bno,title,content,writer)
		values (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into tam_board (bno,title,content, writer)
		values (#{bno},
		#{title}, #{content}, #{writer})
	</insert>

	<select id="read" resultType="com.spring.domain.BoardVO">
		select * from tam_board where bno =
		#{bno}
	</select>


	<delete id="delete">
		delete tam_board where bno = #{bno}
	</delete>

	<update id="update">
		update tam_board
		set title= #{title},
		content=#{content},
		writer = #{writer},
		updateDate = sysdate
		where bno =
		#{bno}
	</update>

	

	<!-- 검색을 하게 되면 totalcount의 개수도 바뀌게 된다   -->
	<select id="getListWithPaging" resultType="com.spring.domain.BoardVO">
	  <![CDATA[
	  SELECT * FROM
		(
		    SELECT /*+ INDEX_DESC(tam_member pk_board) */
		    ROWNUM rn, bno, title, content, writer, regdate, updatedate
		    FROM tam_board
		    WHERE
     ]]>
     <include refid="criteria"></include>
     
      
     <![CDATA[
		    bno > 0 and rownum > 0 and ROWNUM <= (#{pageNum} * #{amount})
			)
			WHERE rn > (#{pageNum} - 1) * #{amount}
	  ]]>
		
	</select>

<!-- 검색할때 페이징 처리 + 카운트 처리까지 완료   -->

	<select id="getTotalCount" resultType="int">
		select count(bno) from tam_board where   
		<include refid="criteria"></include>
		bno > 0		
	</select>


</mapper>
